body{
    text-align: center;
    background-color:#e5e6e8;
    margin:0px;
    padding:0px;
}
#main{
    margin-top:80px;
    border-radius:12px;
    padding:px;
}
#main_title{
    
}
#title{
  text-align:center;
  font-size:50px;
  margin:10px;
  
}

p{
  text-align:center;
  font-size:15px;
  color:#575757;
  padding:0px 0px 8px 0px;
  margin:0px;
}
#steve_jobs{
  text-decoration: none;
  color: #575757;
    
}

#image{
  display:block;
  max-width:100%;
  height:auto;
  margin-left:auto;
  margin-right:auto;
}
@media (min-width:800px){
  #img-caption{
  text-align:center;
  width:815px;
  margin-left:auto;
  margin-right:auto;
  }
}
#nav_list a{
    color:white;
    background-color: black;
    font-weight: bold;
    font-size:18px;
    text-align: center;
    text-decoration:none;
    padding: 20px 40px;
}
#nav_list a:hover{
    color:black;
    background-color: darkgrey;
    border-radius: 15px;
}

#img-caption{
  text-align:center;
}
#nav_bar{
    width:100%;
    top: 0;
    display: block;
    padding-left: auto;
    padding-right: auto;
    padding:5px;
    background-color:black; 
    position: fixed;
    
}
#nav_list{
   

}
li{
    display: inline;
    list-style-type:none;
    padding:0px 20px 0px 20px; 
}

.active{
    background-color:white;
    color:white;
}

h2{
    background-color: black;
    color:white;
    text-align: center;
    padding:20px;
    margin:0px;
}

/*Image*/
#opacity_image{
    display:grid;
    grid-column: auto;
    grid-row: auto;
    grid-template-areas: 
        "image1 image2"
        "image3 image4";
}
#imag1{
    grid-area: image1;
    
}
#imag2{
    grid-area: image2;
    
}
#imag3{
    grid-area: image3;
    
}
#imag4{
    grid-area: image4;
    
}
